.cart-no {
  position: absolute;
  background-color: rgb(113, 20, 156);
  color: #fff;
  border-radius: 50%;  
  min-width: 25px;
  min-height: 25px;
  text-align: center;
  font-size: 1em;
  top: -12px;
  line-height: 25px;
  right: 30px;
}
.logo:focus,
.logo:active {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #3a3434;
  &.active {
    color: orange;
  }
}
