.cart-no {
  position: absolute;
  background-color: rgb(113, 20, 156);
  color: #fff;
  border-radius: 50%;
  min-width: 25px;
  min-height: 25px;
  text-align: center;
  font-size: 1em;
  top: -12px;
  right: 30px;
}
